@import '../variables';

.HomeContainer {
	background-color: $primaryColor;
	padding: 0 3rem;
	min-height: 100vh;

	.HomeContent {
		position: relative;
		margin: 0 auto;
		min-height: 100vh;
		max-width: 1350px;
	}

	@media (max-width: 550px) {
		padding: 0;
	}
}
