@import '../variables';

.HomeContainer {
	background-color: $primaryColor;
	padding: 0 3rem;
	min-height: 100vh;

	.HomeContent {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 0 auto;

		max-width: 1350px;
		min-height: 100vh;
	}

	@media (max-width: 850px) {
		padding: 0;
	}
}
