@import '../../variables';

.Header {
	color: $fontColor;
	display: flex;
	font-size: 1.4rem;
	font-weight: 500;

	justify-content: flex-end;
	width: 100%;

	ul {
		display: flex;
		list-style: none;

		li {
			cursor: pointer;
			margin-left: 3rem;
			transform: translate(0);
			transition: 0.5s;

			position: relative;

			&::before {
				background-color: $utilitiesColor;
				bottom: -0.2rem;
				content: ' ';
				height: 0.3rem;

				opacity: 0;
				position: absolute;
				transition: all 1s;
				width: 0;
			}

			&:hover::before {
				opacity: 1;
				width: 90%;
			}

			&:hover {
				color: $fontColorHover;
				transform: translate(1.5rem, 0.5rem);
			}
		}
	}
	@media (max-width: 450px) {
		ul {
			justify-content: space-around;
			padding: 0;
			width: 100%;

			li {
				margin: 0;
			}
		}
	}
}
