@import '../../variables';

.Header {
  color: $fontColor;
  display: flex;
  font-size: 1.4rem;
  font-weight: 500;

  justify-content: flex-end;
  width: auto;

  .nav {
    .ul {
      display: flex;
      height: max-content;
      list-style: none;
      position: relative;

      width: max-content;

      .li {
        cursor: pointer;
        padding: 0 0 0 3.5rem;
        transform: translate(0);
        transition: 0.5s;

        &::before {
          background-color: $utilitiesColor;
          bottom: -4px;
          content: ' ';
          height: 0.3rem;

          opacity: 0;
          position: absolute;
          transition: all 1s;
          width: 0;
        }

        &:hover::before {
          opacity: 1;
          width: 60%;
        }

        &:hover {
          color: $fontColorHover;
          transform: translate(1.2vw, 1vh);
        }
      }
    }
  }
}
