@import '../variables';

.Cards {
	// background-color: $secondaryColor;
	background: linear-gradient(180deg, $secondaryColor 58%, transparent 42%);
	color: $fontColor;
	display: grid;
	gap: 1rem;

	grid-template-columns: repeat(3, 25rem);
	height: 40rem;
	margin-top: 2rem;
	padding: 3rem;
}
