@import '../variables';

.Proyects {
	margin-top: 3rem;

	h2 {
		color: $fontColor;
		font-size: 2.33rem;
	}

	.Cards {
		background-color: $secondaryColor;
		color: $fontColor;
		display: grid;
		gap: 2rem;

		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 50% 50%;
		justify-content: space-between;
		padding: 3rem;
	}
}
