@import '../variables';

.Content {
	display: grid;
	grid-template-columns: 60% 40%;
	margin-top: 2rem;

	.firstPart {
		display: flex;
		gap: 2.5rem;

		.imgContent {
			align-items: center;
			display: flex;
			flex-direction: column;

			img {
				border-radius: 50%;
				width: 18rem;
			}

			.icons {
				display: flex;
				justify-content: space-evenly;
				margin-top: 3rem;
				width: 50%;

				img {
					border-radius: 0;
					transition: 0.6s;
					width: 1.5rem;

					&:hover {
						transform: rotatez(1turn);
					}
				}
			}
		}

		.title {
			align-items: flex-start;
			display: flex;
			justify-content: space-between;
			padding-top: 3rem;

			svg {
				height: 12rem;
				width: 1rem;

				rect {
					height: 100%;
					width: 100%;
				}
			}

			h1 {
				color: $fontColor;
				font-size: 5.5rem;
				margin: 0;
				margin-left: 1rem;
			}
		}
	}

	.secondPart {
		color: $fontColor;
		display: flex;
		flex-direction: column;
		margin: 4rem 0 0 auto;

		position: relative;
		width: 30rem;

		h3 {
			text-align: justify;
			font-size: 2.33rem;
			margin: 0;
		}

		p {
			font-size: 1.3rem;
			margin: 0;
			margin-top: 1.5rem;
			text-align: justify;
		}

		.anchor {
			bottom: 0.5rem;
			color: $utilitiesColor;
			cursor: pointer;
			display: flex;

			font-weight: 500;
			position: absolute;

			&:hover {
				p {
					color: $utilitiesColorHover;

					&::before {
						background-color: $utilitiesColorHover;
					}
				}

				svg {
					path {
						fill: $utilitiesColorHover;
					}
				}
			}

			p {
				font-size: 1.2rem;
				margin: 0;
				position: relative;

				&::before {
					background-color: $utilitiesColor;
					bottom: 0;
					content: '';
					height: 0.12rem;

					position: absolute;
					width: 100%;
				}
			}

			svg {
				margin-left: 0.2rem;
				width: 0.9rem;

				path {
					fill: $utilitiesColor;
				}
			}
		}
	}

	@media (max-width: 850px) {
		align-items: center;
		grid-template-columns: 100%;
		justify-content: center;
		margin-top: 3rem;

		.firstPart {
			justify-content: center;

			.imgContent {
				img {
					width: 11rem;
				}

				.icons {
					display: none;
				}
			}

			.title {
				padding-top: 1rem;

				svg {
					height: 9rem;
					width: 0.7rem;
				}

				h1 {
					font-size: 4rem;
				}
			}
		}

		.secondPart {
			height: 80%;
			margin: 0 auto;
			margin-top: 8rem;
		}
	}
}
