@import '../variables';

.footer {
	background-color: #1d1d1d;
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: 0;
	width: 100%;

	p {
		color: $fontColor;
		font-size: 1.3rem;
		font-weight: 700;
		margin: 0.8rem 0;
		padding: 0 2rem;

		span {
			color: $utilitiesColor;
		}
	}
}
