@import '../../variables';

.Card_1 {
	align-items: center;
	background-color: $primaryColor;
	display: flex;
	flex-direction: column;

	justify-content: space-between;
	padding: 2rem;

	h4 {
		font-size: 1.7rem;
		margin: 0;
	}

	p {
		font-size: 1.1rem;
		text-align: center;
	}

	a {
		color: $utilitiesColor;
		font-size: 1.1rem;
		font-weight: 800;
	}
}
