@import '../variables';

.footer {
	background-color: #1d1d1d;
	margin-top: 5rem;
	text-align: center;
	width: 100%;

	p {
		color: $fontColor;
		font-size: 1.3rem;
		font-weight: 700;
		margin: 0.8rem 0;

		span {
			color: $utilitiesColor;
		}

		a{
			color: inherit;
			text-decoration: none;

			&:hover{
				opacity: .8;
			}
		}
	}

	@media (max-width: 850px) {
		margin-top: 5rem;
	}
}
