@import '../variables';

.footer {
	background-color: #1d1d1d;
	bottom: 0;
	display: flex;
	justify-content: space-between;

	margin-top: 5rem;
	width: 100%;

	p {
		color: $fontColor;
		font-size: 1.3rem;
		font-weight: 700;
		margin: 0.8rem 0;

		padding: 0 2rem;

		span {
			color: $utilitiesColor;
		}
	}

	@media (max-width: 850px) {
		justify-content: center;
		margin-top: 0;

		p {
			font-size: 1.2rem;
			padding: 0;
		}

		p:nth-of-type(1) {
			display: none;
		}
	}
}
