@import './variables';

.headerActive {
	color: $fontColorHover;
	transform: translate(0.5rem, 0.5rem) !important;
	cursor: default !important;

	&::before {
		width: 90% !important;
		opacity: 1 !important;
	}

	@media (max-width: 850px) {
		transform: translate(0, 0) !important;
	}
}
