@import './variables';

.headerActive {
  color: $fontColorHover;
  transform: translate(1.2vw, 1vh) !important;
  cursor: default !important;

  &::before {
    width: 60% !important;
    opacity: 1 !important;
  }
}
