* {
	transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar {
	width: 0.3rem;
	background-color: #323444;
}
::-webkit-scrollbar-thumb {
	background-color: #242533;
	border-radius: 5px;
}

html,
body {
	font-size: 16px;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

	@media (max-width: 1300px) {
		font-size: 1.2vw;
	}
	@media (max-width: 450px) {
		font-size: 3vw;
	}
}

button {
	border: none;
	outline: none;
}
